doctype
html
    head
        block head-content
        title EasyTrade
        link(rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="/libs/bootstrap/dist/css/bootstrap-theme.min.css")
        link(rel="stylesheet" href="/css/site.css")
    body(data-ng-app data-ng-controller="main-controller")
        nav.navbar.navbar-default
            .container-fluid
                .navbar-header
                    button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#menu")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="/") EasyTrade
                #menu.navbar-collapse.collapse
                    ul.nav.navbar-nav
                        li
                            a(href="/") Home
                        li.dropdown
                            a.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-expanded="false") Categories
                                span.caret
                            ul.dropdown-menu(role="menu")
                                li
                                    a(href="/real-estates") Real Estates
                                li
                                    a(href="/cars") Cars
                    ul.nav.navbar-nav.navbar-right
                        if (currentUser)
                            li
                                a(href="/profile") #{currentUser.username}
                            li
                                a(href="/logout") Logout
                        else
                            li
                                a(href="/register") Register
                            li
                                a(href="/login") Login

        .container
            if (errorMessage)
               .alert.alert-danger.text-center #{errorMessage}

            block main-content

        footer
            p.text-center
                | &copy; Mega Team  - 2016

        include scripts