script(src="libs/jquery/dist/jquery.min.js")
script(src="libs/bootstrap/dist/js/bootstrap.min.js")
script(src="libs/angular/angular.js")
script(src="http://kendo.cdn.telerik.com/2015.3.1111/js/kendo.all.min.js")
block page-scripts
    script(src='/app/app.js')