extends ../shared/layout
block main-content
    form.form-horizontal(method="get" action="/cars/all")
        fieldset
            .form-group
                label.control-label.col-md-2(for="make") Make
                .col-md-4
                    select.form-control(id="make"   name="make")
                        option(value="") Select value...
                        each make in carMakes
                            option(value=make) #{make}
                label.control-label.col-md-2(for="model") Model
                .col-md-4
                    input.form-control(id="model" type="text"  name="model" placeholder="Model")
            .form-group
                label.control-label.col-md-2(for="transmission") Transmission
                .col-md-4
                    select.form-control(id="transmission"  name="transmission")
                        option(value="") Select value...
                        option(value="automatic") Automatic
                        option(value="manual") Manual
                label.control-label.col-md-2(for="fuel") Fuel
                .col-md-4
                    select.form-control(id="fuel"  name="fuel")
                        option(value="") Select value...
                        option(value="petrol") Petrol
                        option(value="diesel") Diesel
                        option(value="hybrid") Hybrid
                        option(value="electric") Electric
                        option(value="lpg") LPG
                        option(value="cng") CNG
            .form-group
                label.control-label.col-md-2(for="from") Price from $
                .col-md-4
                    input.form-control(id="from" min='0' type="number" name="from"  placeholder="Price from")

                label.control-label.col-md-2(for="to") Price to $
                .col-md-4
                    input.form-control(id="to" type="number" min="0" name="to" placeholder="Price to")
            br
            .form-group
                label.control-label.col-md-2(for="sort") Order by
                .col-md-4
                    select.form-control(id="sort"  name="sort")
                        option(value="price") Price
                        option(value="power") Horsepower
                        option(value="location") Location
                        option(value="model") Model
                label.control-label.col-md-2(for="direction") Direction
                .col-md-4
                    select.form-control(id="direction"  name="direction")
                        option(value="") Ascending
                        option(value="-") Descending
            br
            .form-group
                .col-md-offset-2.col-md-10
                    button.btn.btn-lg.btn-default.col-md-6(type="submit") Search
                    button.btn.btn-lg.btn-default.col-md-6(type="reset") Cancel