extends ../shared/layout
block main-content
    form.form-horizontal(method="post", action="/real-estates/create", enctype="multipart/form-data")
        fieldset
            legend Create Real Estate
            .form-group
                label.col-lg-2.control-label(for="type") Type
                .col-lg-10
                    select#type.form-control(name="type", required="required")
                        each estate in estates
                            option= estate
            .form-group
                label.col-lg-2.control-label(for="quadrature") Quadrature
                .col-lg-10
                    input#quadrature.form-control(type='number',name="quadrature",min="1", step="0.1",  placeholder='Quadrature', required="required")

            .form-group
                label.col-lg-2.control-label(for="price") Price
                .col-lg-10
                    input#price.form-control(type='number',name="price",min="1", step="0.1",  placeholder='Price', required="required")
            .form-group
                label.col-lg-2.control-label(for="city") City
                .col-lg-10
                    input#city.form-control(type='text',name="city" placeholder='City', required="required")
            .form-group
                label.col-lg-2.control-label(for="address") Address
                .col-lg-10
                    input#address.form-control(type='text',name="address" placeholder='Address', required="required")
            .form-group
                label.col-lg-2.control-label(for="dealType") Deal Type
                .col-lg-10
                    select#dealType.form-control(name="dealType", required="required")
                        each type in deals
                            option= type
            .form-group
                label.col-lg-2.control-label(for="description") More Information
                .col-lg-10
                    textarea#description.form-control(name="moreInformation",placeholder='More Information...')
            .form-group
                label.col-lg-2.control-label(for="image") Image
                .col-lg-10
                    input#image.form-control(type="file" name="image")

            .form-group
                .col-lg-10.col-lg-offset-2
                    a.btn.btn-default.pull-right(href='/') Cancel
                    button.btn.btn-default.pull-right Create
