extends ../shared/layout
block main-content
    form.form-horizontal(name="estateForm", method="post")
        fieldset
            legend Create Real Estate
            .form-group
                label.col-lg-2.control-label(for="type") Type
                .col-lg-10
                    select#type.form-control(name="type", required="required")
                        each estate in estates
                            option= estate
            .form-group
                label.col-lg-2.control-label(for="price") Price
                .col-lg-10
                    input#price.form-control(type='number',name="price",min="1", step="0.1",  placeholder='Price', required="required")
            .form-group
                label.col-lg-2.control-label(for="address") Address
                .col-lg-10
                    input#address.form-control(type='text',name="address" placeholder='Address', required="required")
            .form-group
                label.col-lg-2.control-label(for="dealType") Deal Type
                .col-lg-10
                    select#dealType.form-control(name="dealType", required="required")
                        each type in deals
                            option= type
            .form-group
                label.col-lg-2.control-label(for="description") Description
                .col-lg-10
                    textarea#description.form-control(name="description",placeholder='Description')
            .form-group
                .col-lg-10.col-lg-offset-2
                    button.btn.btn-default.pull-right Cancel
                    button.btn.btn-primary.pull-right Create
